aside{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 100%;
  background-color: #2e2e2e;
  color: white;
  box-sizing: border-box;
  padding: 0.5rem;
  transition: transform 200ms ease-in-out;
}

.abierto{
  transform: translateX(0);
}

.cerrado{
  transform: translateX(-300px);
}

.botonCrear{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  user-select: none;
  cursor: pointer;
  border: none;
  max-width: fit-content;
  background-color: #707172;
  color: white;
  font-size: 16px;
  transition: transform 200ms ease-in-out;
}

.cerrado .botonCrear{
  transform: translateX(300px)
}

.botonCrear > span > svg{
  font-size: 20px;
}

.botonCrear svg{
  font-size: 18px;
}

.botonCrear:hover{
  background-color: #88898a;
}

.miniCalendario{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-top: 3rem;
}

.miniCalendario header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .miniCalendario .flechas{

} */

.miniCalendario .flechas > svg{
  border-radius: 100%;
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 0.5rem;
  background-color: #2e2e2e;
  user-select: none;
  cursor: pointer;
}

.miniCalendario .flechas > svg:hover{
  background-color: #4e4e4e;
}

.miniCalendario table{
  color: white;
  font-size: 12px;
  border: solid red 2px;
  font-weight: lighter;
}

.miniCalendario table th,
.miniCalendario table td{
  text-align: center;
}

.miniCalendario .diaMesActual{
  color: white;
  font-weight: bold;
}