.contenedorDatosEvento{
  position: absolute;
  top: 0;
  right: 100%;
  width: 12rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #2e2e2e;
  border-radius: 1rem;
}

.contenedorDatosEvento.izquierda{
  right: 100%;
}

.contenedorDatosEvento.derecha{
  left: 100%;
}

.contenedorDatosEvento header{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5rem;
  width: 100%;
}

.contenedorDatosEvento header svg{
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.contenedorDatosEvento header svg:hover{
  background-color: rgb(256, 256, 256, 20%);
}

.contenedorDatosEvento main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.contenedorDatosEvento main .titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.contenedorDatosEvento main .titulo .colorCategoria{
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  border: none;
  color: rgb(245, 237, 237);
  user-select: none;
  cursor: pointer;
}

.contenedorDatosEvento main .titulo .colorCategoria:hover{
  background-color: rgb(256, 256, 256, 20%);
}

.contenedorDatosEvento main p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}