.contenedorModalEvento{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.contenedorModalEvento form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #2a2b2c;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1px 1px gray;
  width: 24rem;
}

.contenedorModalEvento form .botonCerrar{
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  transition: 100ms ease-in-out;
  user-select: none;
  cursor: pointer;
  color: white;
}

.contenedorModalEvento form .botonCerrar:hover{
  font-weight: bold;
  transform: scale(1.1);
}

.contenedorModalEvento form input[type="text"]{
  margin-left: 2.5rem;
  background-color: transparent;
  border: none;
  border-bottom: solid rgb(65, 129, 225, 50%) 2px;
  color: white;
  transition: 100ms ease-in-out;
  font-size: 24px;
}

.contenedorModalEvento form input[type="text"]::placeholder{
  color: lightgray;
}
.contenedorModalEvento form input[type="text"]:focus{
  outline: none;
  border-bottom: solid rgb(74, 197, 235) 2px;
}

.contenedorModalEvento form .datosFecha,
.contenedorModalEvento form .datosCategoria,
.contenedorModalEvento form .datosDescripcion{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: white;
}

.contenedorModalEvento form .datosFecha svg,
.contenedorModalEvento form .datosCategoria svg,
.contenedorModalEvento form .datosDescripcion svg{
  width: 1.5rem;
  height: 1.5rem;
}

.contenedorModalEvento form .datosFecha input{
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 14px;
  background-color: rgb(256, 256, 256, 20%);
  color: white;
  cursor: pointer;
}

.contenedorModalEvento form .datosFecha input:focus,
.contenedorModalEvento form .datosDescripcion textarea:focus{
  outline: none;
}

.contenedorModalEvento form .contenedorCategoria{
  position: relative;
  display: flex;
  flex-direction: column;
}

.contenedorModalEvento form .contenedorCategoria .tituloCategoria{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  background-color: rgb(256, 256, 256, 20%);
  border-radius: 0.5rem;
  padding: 0.5rem;
  user-select: none;
  cursor: pointer;
}

.contenedorModalEvento form .opcionesCategoria{
  position: absolute;
  top: 2.5rem;
  background-color: #4e4f50;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 0px 1px black;
}

.contenedorModalEvento form .opcionesCategoria p{
  padding: 0.5rem;
  user-select: none;
  cursor: pointer;
}

.contenedorModalEvento form .opcionesCategoria p:hover,
.contenedorModalEvento form .contenedorCategoria .tituloCategoria:hover{
  background-color: rgb(256, 256, 256, 30%);
}

.contenedorModalEvento form .datosDescripcion{
  align-items: start;
}

.contenedorModalEvento form .datosDescripcion svg{
  margin-top: 0.5rem;
}

.contenedorModalEvento form .datosDescripcion textarea{
  resize: none;
  width: 100%;
  height: 6rem;
  font-size: 16px;
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(256, 256, 256, 20%);
  border: none;
  color: white;
  transition: 150ms ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.contenedorModalEvento form .datosDescripcion textarea:focus{
  height: 10rem;
  background-color: rgb(256, 256, 256, 30%);
}

.contenedorModalEvento form footer{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.contenedorModalEvento form footer button{
  padding: 0.5rem 1rem;
  color: #2a2b2c;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  background-color: #a8c7fa;
  transition: 150ms ease-in-out;
  user-select: none;
  cursor: pointer;
}

.contenedorModalEvento form footer button:hover{
  background-color: #89a6da;
}