.contenedorVista{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #131314;
  border-radius: 1.5rem;
  overflow: hidden;
}

.contenedorVista header{
  position: sticky; 
  display: flex;
  flex-direction: row;
  height: 6rem;
  width: 100%;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}

.contenedorTablero{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: scroll;
}

.contenedorTablero aside{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: white;
  height: 100%;
  padding-left: 2rem;
  padding-right: 1rem;
  border-right: solid rgb(256, 256, 256 , 20%) 2px;
}

.contenedorTablero aside p{
  opacity: 75%;
  font-size: 12px;
}

.tableroDia{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(96, 1rem);
  flex: 1;
  min-height: 100%;
  border-top: solid rgb(256, 256, 256 , 20%) 1px;
}

.tableroDia .rango{
  grid-column: 1 / 7;
}

.tableroDia .rango:nth-child(4n){
  border-bottom: solid rgb(256, 256, 256 , 20%) 1px;
}